* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
body {
background-color: #3f79d8;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.container {
background-color: #070707;
padding: 20px;
border-radius: 5px;
text-align: center;
color: white;
}
.input-box {
display: flex;
justify-content: center;
margin-bottom: 20px;
}
input[type="date"] {
padding: 10px;
font-size: 16px;
border: none;
border-radius: 5px;
margin-right: 10px;
}
button {
padding: 10px 20px;
background-color: #fff;
color: #000;
border: none;
font-size: 16px;
cursor: pointer;
border-radius: 5px;
}
.result {
display: flex;
justify-content: space-around;
margin-top: 30px;
}
.result div {
background-color: #111;
padding: 20px;
margin-left: 20px;
border-radius: 5px;
width: 80px;
text-align: center;
height: 80px;
}
.result div p {
font-size: 24px;
margin-bottom: 5px;
}
